.kaufman {
  margin: 240px auto 100px auto;
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: -3;
}

.kaufman__triangle {
  max-width: 660px;
  max-height: 636px;
  position: absolute;
  left: auto;
  right: 0;
  top: -40px;
  bottom: auto;
  z-index: -2;
}

.section__title_theme-dark {
  color: white;
  margin: 90px auto 0;
  z-index: 3;
  text-align: center;
}

.section__subtitle_theme-dark {
  color: white;
  z-index: 3;
  text-align: center;
}

.table_theme-dark {
  z-index: 3;
  max-width: 1100px;
  margin-bottom: 90px;
  row-gap: 80px;
}

.table__cell_theme-dark {
  z-index: 3;
  max-width: 200px;
}

.table__heading_theme-dark{
  color: white;
  z-index: 3;
}

.table__text_theme-dark {
  color: white;
  z-index: 3;
}